<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Angular Truffle Box</a>
    <button class="navbar-toggler" type="button" 
            data-toggle="collapse" data-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">
                MetaCoin
                <span class="sr-only">(current)</span>
            </a>
        </div>
    </div>

    <i octicon="alert" color="white" ngbTooltip="No Web3 detected!" placement="bottom-right" *ngIf="!hasWeb3Provider"></i>

</nav>
<div class="container-fluid" style="padding: 10px">
    <div *ngIf="showWeb3Alert">
        <ngb-alert type="danger" dismissible="true" (close)="showWeb3Alert = false">
            No Web3 detected!
        </ngb-alert>

    </div>
    <app-meta-sender></app-meta-sender>
</div>
